* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #414042;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4 {
  font-family: 'Merriweather', serif;
}

.laptop {
  display: none;
}

.lime_text {
  color: #C6D92C;
}

.white_text {
  color: #fff;
}

/* MENU */

/* hamburger menu icon */

.hamburger_div {
  height: 70px;
  z-index: 99;
  background: #414042;
  padding: 15px 0 0 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.hamburger_logo {
  width: 120px;
}

.hamburger {
  display: block;
  top: 20px;
  left: 25px;
  position: absolute;
}

.hamburger_icon {
  width: 36px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger icons animation */

.hamburger_icon_one {
  transform-origin: center center;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger_icon_two {
  opacity: 0;
}

.hamburger_icon_three {
  transform-origin: center center;
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

/* menu hidden */

.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: #414042;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.4s;
}


/* menu show */

.menu_show {
  transform: translateX(0vw);
}

.menu-link {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 25px 0;
}

.menu_divison {
  display: none;
}

.rrss_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 40px;
}

.rrss_menu {
  width: 40px;
}

.rrss_menu img {
  width: 100%;
}

/* MAIN HOME */

.home_header {
  height: 100vh;
  padding-top: 70px;
}

.header_block {
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  color: #fff;
}

.header_block h2 {
  margin-top: 0;
}

.header_left {
}

.header_right {

}

.header_title_division {
  background-color: #C6D92C;
  width: 60px;
  height: 8px;
}

.header_link {
  font-weight: 700;
  color: #414042;
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #C6D92C;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 5px 10px 8px rgba(0,0,0,0.4);
}

/* EXPERTOS SECTION */

.expertos {
  padding: 30px 0;
}

.expertos_titles {
  font-size: 2.5rem;
  margin: 0;
  padding-left: 8vw;
}

.expertos_numbers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.expertos_numbers_item {
  text-align: center;
  width: 65%;
  margin: 10px 0;
}

.expertos_numbers_division {
  background-color: #C6D92C;
  width: 40px;
  height: 4px;
}

.expertos_numbers_item h3 {
  font-size: 2.5rem;
  margin: 0px;
}

.expertos_numbers_item p {
  margin: 5px;
}

.medida {
  background-color: #C6D92C;
  padding: 10px 5vw;
  margin: 30px 0;
  width: 100%;
  text-align: right;
}




/* PROYECTOS SECTION */

.proyectos_section {
  color: #fff;
  background-color: #414042;
  padding: 30px 8vw;
}

.proyectos_title {
  font-size: 2.5rem;
}


.row {
  width: 100%;
  margin: 20px auto;
}
.card {
  position: relative;
  height: 100%;
  margin: 10px 0;
}

.card_background {
  /* position: absolute; */
  /* left: 0;
  top: 0; */
  width: 100%;
}

.card-content {
  position: absolute;
  background: rgba(34,126,75,0.7);
  top: 0;
  left: 0;
  /* padding: 10px; */
  /* text-align: center; */
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_title {
  font-size: 0.9rem;
  margin: 8px 0;
}

.card_division {
  background-color: #C6D92C;
  width: 30px;
  height: 4px;
}

.card_subtitle {
  margin: 5px 0;
}

.card_subtitle p {
  font-size: 0.7rem;
  margin: 0;
}

.card_link {
  color: #414042;
  font-weight: 700;
  margin-top: 5px;
  font-size: 0.8rem;
  background-color: #C6D92C;
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 2px 10px;
  border-radius: 50px;
}

/* CAROUSEL ARROWS */

.slick-prev {
  display: block;
  height: 30px;
  width: 18px;
  /* width: auto; */
  background: url('../images/prev.png') no-repeat;
  background-size: cover;
}

.slick-next {
  display: block;
  height: 30px;
  width: 18px;
  /* width: auto; */
  background: url('../images/next.png') no-repeat;
  background-size: cover;
}

/* .slick-prev:before {
  display: block;
  height: auto;
  width: auto;
  background: url('../images/prev.png') no-repeat;
}

.slick-next:before {
  display: block;
  height: 20px;
  width: 20px;
  background: url('../images/next.png') no-repeat;
} */

/* CONTACT SECTION */

.contact_section {
  display: flex;
  flex-direction: column;
}

.contact_info {
  padding: 30px 8vw;
}

.contact_info h2 {
  font-size: 2.5rem;
  margin: 0;
}

.contact_division {
  background-color: #C6D92C;
  width: 60px;
  height: 8px;
  margin: 20px 0;
}

.contact_list {
  font-size: 0.9rem;
  margin-top: 40px;
}

.contact_list li {
  margin: 25px 0;
}

.contact_list li img {
  display: inline-block;
  width: 35px;
  vertical-align: middle;
}

.contact_list li span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* CONTACT FORM */

.contact_form_div {
  background-color: #2861AD;
}

.contact_form {
  padding: 50px 10%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea, [type=email] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  background-color: #6699CC;
  color: #C6D92C;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  border: none;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  -webkit-appearance: none;
  background-color: #C6D92C;
  color: #414042;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C6D92C;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #C6D92C;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #C6D92C;
}
:-moz-placeholder { /* Firefox 18- */
  color: #C6D92C;
}

/* FOOTER SECTION */

.footer {
  background-color: #414042;
  padding: 30px 8vw;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_text {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.footer_division {
  background-color: #C6D92C;
  width: 30px;
  height: 4px;
  margin: 20px 0;
}

.footer img {
  width: 160px;
  margin: 20px 0;
}
