/* media query for TABLETS */

@media screen and (min-width: 720px) and (orientation: portrait) {

  .header_block h2 {
    font-size: 2.5rem;
    margin: 10px 0;
  }

/* ------------------------------------------------ */

/* MODAL BOX */

.modal_container {
  display: block;
}


.modal_text {
  margin-top: 20px;
}

/* IMAGE GALLERY */

.container {
  position: relative;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* --------------------------------------------------------- */

  /* CONTACT SECTION */

  .contact_section {
    display: flex;
    flex-direction: row-reverse;
  }

  .contact_info {
    width: 50%;
  }

  .contact_form_div {
    width: 50%;
  }

  /* FOOTER SECTION */

  .footer {
    padding: 20px 5vw;
    color: #fff;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer_text {
    font-size: 0.7rem;
  }

  .footer_division {
    background-color: #C6D92C;
    width: 2px;
    height: 30px;
    margin: 0px 20px;
  }

  .footer img {
    width: 80px;
    margin: 0px 10px;
  }

}

/* media query for TABLETS */

@media screen and (min-width: 1000px) and (orientation: landscape) {

  .laptop {
    display: block;
  }

  /* MENU */

  /* hamburger menu icon */

  .laptop_menu {
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 51;
    width: 200px;
  }

  .laptop_menu img {
    width: 100%;
  }

  .hamburger_div {
    display: none;
  }

  /* menu hidden */

  .menu {
    height: 90px;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    transform: translateX(0vw);
  }

  /* menu show */

  .menu-link {
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px 25px;
  }

  .menu-link-active {
    color: #C4D72C;
    font-weight: 700;
  }

  .menu_divison {
    display: block;
    background-color: #fff;
    height: 30px;
    width: 2px;
  }

  .rrss_section {
    position: absolute;
    top: 25px;
    right: 5vw;
    width: 7%;
    padding: 0px;
  }

  .rrss_menu {
    width: 35px;
  }

  .rrss_menu img {
    width: 100%;
  }

  /* MAIN */

  .home_header {
    height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .header_diagonal_uno {
    height: 110vh;
    width: 10vw;
    background-color: #C6D92C;
    opacity: 0.8;
    transition: 0.8s ;
    position: absolute;
    top: -5vh;
    left: 42vw;
    transform: skewX(-20deg);
    z-index: 40;
  }

  .header_diagonal_uno-fade {
    top: -105vh;
    left: 60vw;
    opacity: 0;
  }

  .header_diagonal_dos {
    height: 100vh;
    width: 10vw;
    background-color: #2861AD;
    opacity: 0.8;
    transition: 0.8s ;
    position: absolute;
    top: 0vh;
    left: 45vw;
    transform: skewX(-20deg);
    z-index: 40;
  }

  .header_diagonal_dos-fade {
    top: 40vh;
    left: 37vw;
    opacity: 0;
    visibility: hidden;
  }

  .header_block {
    position: absolute;
    height: 100%;
    width: 60%;
    background-position: right;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: #fff;
  }

  .header_left {
    padding: 0 20% 0 5vw;
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  }

  .header_right {
    padding: 0 5vw 0 20%;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%);
  }

  .header_block h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .header_block p {
    font-size: 1.29rem;
  }

  .header_title_division {
    width: 50px;
    height: 6px;
  }

  .header_link {
    padding: 1px 15px;
  }

  /* EXPERTOS SECTION */

  .expertos {
    padding: 100px 0 10px 0;
    position: relative;
    overflow: hidden;
  }

  .bouncing {
    position: absolute;
    right: 0;
    top: 0px;
    width: 60%;
    height: 350px;
    animation: x 3.5s linear infinite alternate;
  }
   .y {
  	 animation: y 3s linear infinite alternate;
     background-color: #2861AC;
     width: 70px;
     height: 70px;
     border-radius: 50px;
  }
   @keyframes x {
  	 100% {
  		 transform: translateX(calc(60vw - 100px));
  	}
  }
   @keyframes y {
  	 100% {
  		 transform: translateY(calc(350px - 100px));
  	}
  }


  .expertos_titles {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }

  .expertos_numbers {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 80px 0;
    padding: 0 8vw;
  }

  .expertos_numbers_item {
    text-align: center;
    width: 20%;
    margin: 0px;
    align-self: flex-start;
  }

  .expertos_numbers_division {
    width: 7px;
    margin: 0 15px;
    height: 80px;
    transform: skew(-15deg, 15deg);
  }

  .expertos_numbers_item h3 {
    font-size: 3rem;
  }

  .expertos_numbers_item p {
    font-size: 0.9rem;
    margin: 5px 0;
  }

  .medida {
    background-color: transparent;
    padding: 0;
    margin: 30px 0;
    width: 100%;
    display: inline-block;
    text-align: right;
    width: 100%;
    position: relative;
  }

  .tape {
    position: absolute;
    background-color: #C6D92C;
    /* opacity: 0.6; */
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .medida .expertos_titles {
    background-color: #C6D92C;
    padding: 10px 5vw 10px 0;
    width: 35%;
    text-align: right;
    display: inline-block;

  }

  /* PROYECTOS SECTION */

  .proyectos_section {
    color: #fff;
    background-color: #414042;
    padding: 50px 8vw;
    position: relative;
    height: auto;
  }

  .proyectos_title {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }

  .proyect_categories {
    display: block;
  }

  .proyect_categories li {
    display: inline-block;
    margin: auto 5px;
    border: solid 2px #C6D92C;
    padding: 5px 15px;
    cursor: pointer;
  }

  .proyect_categories li:nth-child(1) {
    color: #C6D92C;
  }

  .card {
    position: relative;
    height: 100%;
    margin: 10px 0;
  }

  .modal-box {
    position: fixed;
    height: 75vh;
    width: 0vw;
    background-color: #404041;
    border: solid 3px #C6D92C;
    bottom: 20px;
    left: 10vw;
    z-index: 150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  .modal-show {
    visibility: visible;
    opacity: 1;
    width: 80vw;
  }

  .modal_text {
    margin: 0;
    width: 35%;
    display: inline-block;
  }

  .modal_title {
    font-size: 2.2rem;
    line-height: 2.1rem;
    margin: 10px 0;
  }

  .modal_subtitle {
    font-size: 1rem;
  }

  .modal_text p {
    font-size: 1rem;
  }

  .project_gallery_cont {
    width: 60%;
    display: inline-block;
  }


  /* IMAGE GALLERY */

  .modal_container {
    display: block;
  }

  .container {
    position: relative;
    margin-top: 0;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: -7%;
    /* border-radius: 3px 0 0 3px; */
  }

  .prev {
    left: -7%;
  }

  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  } */

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row {
    width: 100%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  .card-content {
    width: 95%;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    padding: 10%;
    border: solid 3px #C6D92C;
  }

  .card:hover .card-content {
    visibility: visible;
    opacity: 1;
  }

  .card_background {
    width: 95%;
  }

  .card_title {
    font-size: 1.4rem;
    margin: 8px 0;
  }

  .card_subtitle p {
    font-size: 0.9rem;
  }

  /* CONTACT SECTION */

  .contact_section {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    /* height: 100vh; */
    height: auto;
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 30px;
    width: 45%;
  }

  /* CONTACT FORM */

  .contact_info h2 {
    font-size: 3.2rem;
  }

  .contact_form_div {
    width: 55%;
    padding: 150px 10% 150px 20px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  }

  /* FOOTER SECTION */

  .footer {
    padding: 10px 8vw;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_text {
    font-size: 0.7rem;
  }

  .footer_division {
    width: 2px;
    height: 40px;
    margin: 0px;
  }

  .footer img {
    width: 120px;
    margin: 0px 20px;
  }


}

@media screen and (min-width: 1440px) and (orientation: landscape) {

  /* MENU */

  .menu-link {
    font-size: 1rem;
  }

  /* MAIN */

  .header_block {
    /* padding: 10%; */
  }

  .header_left {
    padding: 0 30% 0 5vw;
  }

  .header_right {
    padding: 0 15vw 0 20%;
  }

  .header_block h2 {
    font-size: 3.5rem;
  }

  .header_block p {
    font-size: 1.5rem;
  }

  .rrss_section {
    position: absolute;
    top: 25px;
    right: 5vw;
    /* width: 10%; */
    padding: 0px;
  }

  .rrss_menu {
    width: 40px;
  }

  /* EXPERTOS */

  .expertos_titles {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .expertos_numbers {
    /* margin: 250px 0; */
  }

  .expertos_numbers_item h3 {
    font-size: 3.8rem;
  }


  .proyectos_title {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  /* MODAL BOX */

  .modal-box {
    height: 85vh;
  }

  .modal_text {
    margin: 0;
    width: 30%;
    display: inline-block;
  }
.project_gallery_cont {
    width: 55%;
    display: inline-block;
  }

}
